body {
  font-size: 12px;
  font-family: "Exo 2", sans-serif;
  background-color: #fff;
  color: #000; }

* {
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: left;
  line-height: 17px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  color: #6C8795;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase; }

h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700; }

img, video {
  max-width: 100%;
  height: auto; }

.c-menu_link:hover, .c-menu_link--icon:hover:after, .c-link-more:hover, .active, .header-nav_item:hover, .footer-column_link:hover {
  transition: all .2s ease-out; }

.l-layout {
  outline: 1px solid #ccc; }

.l-layout {
  max-width: 970px;
  margin: 0 auto;
  position: relative; }

input {
  bottom: 0;
  outline: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 10px 15px;
  width: 100%; }

.vk svg:hover #vk {
  fill: #4d76a1; }

.fb svg:hover #fb {
  fill: #3b5998; }

.ok svg:hover #ok {
  fill: #f58220; }

.vk, .fb, .ok {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: auto 17px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 5px; }

.c-card-equipment {
  width: 155px;
  height: 349px;
  background-color: #FFF;
  border: 2px solid #EBEBEB;
  padding: 10px;
  padding-bottom: 15px;
  position: relative; }
  .c-card-equipment_img {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 110px;
    margin-bottom: 15px;
    position: relative; }
    .c-card-equipment_img img {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .c-card-equipment_title {
    text-align: left;
    color: #000;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px; }
    .c-card-equipment_title a {
      color: #000; }
  .c-card-equipment_text {
    text-align: left;
    color: #898989;
    font-family: "Exo 2";
    font-size: 13px;
    line-height: 14px;
    font-weight: 300; }
    .c-card-equipment_text a {
      display: block;
      margin-bottom: 5px;
      color: #000; }
      .c-card-equipment_text a:last-child {
        margin-bottom: 20px; }
      .c-card-equipment_text a:hover {
        text-decoration: underline; }

.c-card-round {
  position: absolute;
  bottom: 15px;
  left: 10px; }
  .c-card-round span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #000; }
    .c-card-round span:nth-child(2) {
      margin: 0 1px; }

@font-face {
  font-family: 'Exo 2 Condensed';
  src: local("Exo 2 Thin Condensed"), local("Exo2-ThinCondensed"), url("../fonts/exo2thincondensed.woff2") format("woff2"), url("../fonts/exo2thincondensed.woff") format("woff"), url("../fonts/exo2thincondensed.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Exo 2 Condensed';
  src: local("Exo 2 Extra Light Condensed"), local("Exo2-ExtraLightCondensed"), url("../fonts/exo2extralightcondensed.woff2") format("woff2"), url("../fonts/exo2extralightcondensed.woff") format("woff"), url("../fonts/exo2extralightcondensed.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Exo 2 Condensed';
  src: local("Exo 2 Light Condensed"), local("Exo2-LightCondensed"), url("../fonts/exo2lightcondensed.woff2") format("woff2"), url("../fonts/exo2lightcondensed.woff") format("woff"), url("../fonts/exo2lightcondensed.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Exo 2 Condensed';
  src: local("Exo 2 Regular Condensed"), local("Exo2-RegularCondensed"), url("../fonts/exo2regularcondensed.woff2") format("woff2"), url("../fonts/exo2regularcondensed.woff") format("woff"), url("../fonts/exo2regularcondensed.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Exo 2 Condensed';
  src: local("Exo 2 Medium Condensed"), local("Exo2-MediumCondensed"), url("../fonts/exo2mediumcondensed.woff2") format("woff2"), url("../fonts/exo2mediumcondensed.woff") format("woff"), url("../fonts/exo2mediumcondensed.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Exo 2 Condensed';
  src: local("Exo 2 Semi Bold Condensed"), local("Exo2-SemiBoldCondensed"), url("../fonts/exo2semiboldcondensed.woff2") format("woff2"), url("../fonts/exo2semiboldcondensed.woff") format("woff"), url("../fonts/exo2semiboldcondensed.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Exo 2 Condensed';
  src: local("Exo 2 Bold Condensed"), local("Exo2-BoldCondensed"), url("../fonts/exo2boldcondensed.woff2") format("woff2"), url("../fonts/exo2boldcondensed.woff") format("woff"), url("../fonts/exo2boldcondensed.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Exo 2 Condensed';
  src: local("Exo 2 Extra Bold Condensed"), local("Exo2-ExtraBoldCondensed"), url("../fonts/exo2extraboldcondensed.woff2") format("woff2"), url("exo2extraboldcondensed.woff") format("woff"), url("exo2extraboldcondensed.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Exo 2 Condensed';
  src: local("Exo 2 Black Condensed"), local("Exo2-BlackCondensed"), url("../fonts/exo2blackcondensed.woff2") format("woff2"), url("exo2blackcondensed.woff") format("woff"), url("exo2blackcondensed.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

.c-h1_title {
  text-align: left;
  color: #6C8795;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px; }

.l-list {
  text-align: justify; }
  .l-list::after {
    content: '';
    width: 100%;
    display: inline-block; }
  .l-list_item {
    vertical-align: top;
    display: inline-block; }

.l-grid {
  font-size: 0; }
  .l-grid:last-child {
    margin-right: 0; }
  .l-grid:first-child {
    margin-left: 0; }
  .l-grid_item {
    font-size: 12px;
    vertical-align: top;
    display: inline-block;
    margin: 0 5px; }

.c-search {
  display: block;
  width: 100%;
  bottom: 0;
  outline: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 10px 15px;
  padding-right: 30px;
  position: relative; }
  .c-search-button {
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    width: 12px;
    height: 8px;
    top: 50%;
    margin-top: -4px;
    right: 9px;
    background: url("../img/search-icin-mouseover.png") 0 0 no-repeat; }
  .c-search:focus .c-search-button {
    background: url("../img/search-icin.png") 0 0 no-repeat; }

.c-menu {
  text-align: justify; }
  .c-menu::after {
    content: '';
    width: 100%;
    display: inline-block; }
  .c-menu_item {
    display: inline-block; }
  .c-menu_link {
    display: block;
    padding: 8px 10px;
    color: #8F9699;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #DBDBDB;
    border-radius: 4px; }
    .c-menu_link:hover {
      background-color: #6384A2;
      color: #fff;
      text-decoration: none; }
    .c-menu_link--icon {
      position: relative;
      padding-left: 37px; }
      .c-menu_link--icon::after {
        content: '';
        position: absolute;
        width: 21px;
        height: 19px;
        left: 10px;
        top: 9px;
        background: url("../img/menu-icon-all-default.png") left top no-repeat; }
      .c-menu_link--icon:hover:after {
        content: '';
        background: url("../img/menu-icon-all.png") left top no-repeat; }
  .c-menu--equipment {
    margin-bottom: 10px; }

.c-text-icon {
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  padding-left: 15px;
  position: relative;
  margin-right: 15px; }
  .c-text-icon::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 13px;
    left: 0;
    top: 1px; }

.c-text-icon--number::after {
  background: url("../img/contact-icon.png") 0 0 no-repeat; }

.c-text-icon--email::after {
  background: url("../img/contact-icon.png") -13px 0 no-repeat; }

.c-text-icon--place::after {
  background: url("../img/contact-icon.png") -23px 0 no-repeat; }

.c-text-icon--email-white::after {
  background: url("../img/contact-icon-white.png") -15px 0 no-repeat; }

.c-text-icon--place-white::after {
  background: url("../img/contact-icon-white.png") -26px 0 no-repeat; }

.c-text-icon--time-white::after {
  background: url("../img/contact-icon-white.png") -38px 0 no-repeat; }

.c-button {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  border: none;
  background-color: #F6AE00;
  box-shadow: inset 4.5px 7.8px 27px rgba(255, 240, 0, 0.69), inset 0 0 27px rgba(252, 95, 0, 0.93);
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px; }
  .c-button--expressive {
    padding: 10px 26px;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 18px;
    background-color: #F6AE00;
    border: 1px solid rgba(255, 255, 255, 0.07);
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.27);
    box-shadow: inset 4.5px 7.8px 27px rgba(255, 240, 0, 0.69), 0 0 0 6px rgba(0, 0, 0, 0.07), inset 0 0 27px rgba(252, 95, 0, 0.93); }
    .c-button--expressive span {
      font-family: "Exo 2";
      display: block;
      text-transform: none;
      color: #FFF;
      font-size: 14px;
      font-weight: 300; }
  .c-button:hover {
    background-color: #F6AE00;
    box-shadow: inset 4.5px 7.8px 27px rgba(255, 240, 0, 0.69); }

.c-service {
  font-size: 0; }
  .c-service_item {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    margin-bottom: 21px; }
    .c-service_item:nth-child(n) .c-service_img::after {
      background: url("../img/service-icon-red.png") left top no-repeat; }
    .c-service_item:nth-child(2n) .c-service_img::after {
      background: url("../img/service-icon-purple.png") left top no-repeat; }
    .c-service_item:nth-child(3n) .c-service_img::after {
      background: url("../img/service-icon-blue.png") left top no-repeat; }
    .c-service_item:nth-child(4n) .c-service_img::after {
      background: url("../img/service-icon-orange.png") left top no-repeat; }
    .c-service_item:nth-child(5n) .c-service_img::after {
      background: url("../img/service-icon-black.png") left top no-repeat; }
  .c-service_img {
    text-align: center;
    padding-bottom: 32px;
    margin-bottom: 15px;
    position: relative; }
    .c-service_img::after {
      content: '';
      position: absolute;
      width: 32px;
      height: 7px;
      right: 41%;
      bottom: 0;
      background-color: #ccc; }
  .c-service_title {
    text-align: center;
    color: #6C8795;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase; }

.c-link-more {
  color: #202020;
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 18px;
  margin-top: 5px; }
  .c-link-more:hover {
    text-decoration: underline; }
  .c-link-more::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 6px;
    right: 0;
    bottom: 25%;
    background-color: #ccc;
    background: url("../img/button-icon.png") left top no-repeat; }

.c-company-list {
  text-align: justify;
  font-size: 0px; }
  .c-company-list::after {
    content: '';
    width: 100%;
    display: inline-block; }
  .c-company-list .c-company_item {
    overflow: hidden;
    width: 140px;
    height: 70px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #cfcfcf; }

.c-title-icon {
  text-align: center;
  margin-bottom: 20px; }

.c-call-input {
  padding-left: 40px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.07);
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.2);
  position: relative;
  display: block; }
  .c-call-input--phone {
    background-image: url("../img/phone24x24.png");
    background-position: 7px 8px; }
  .c-call-input--time {
    background-image: url("../img/time24x24.png");
    background-position: 7px 8px; }

.l-ad-unit {
  padding-top: 15px;
  padding-bottom: 20px; }

.ad-unit_title {
  color: #37474F;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 33px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px; }

.ad-unit_item {
  display: inline-block;
  margin-right: 70px; }
  .ad-unit_item::after {
    content: '';
    display: block;
    clear: both; }
  .ad-unit_item .ad-unit_img {
    float: left;
    margin-right: 10px; }
  .ad-unit_item .ad-unit_body {
    float: right; }
    .ad-unit_item .ad-unit_body .ad-unit_text {
      color: #6A6A6A;
      font-family: 'Exo 2 Condensed', sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 6px; }

.l-services {
  padding-top: 20px; }

.l-equipment {
  padding: 20px 0px;
  background-color: #f2f2f2; }

#Container .mix {
  display: none; }

.active {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02); }
  .active:hover a {
    background-color: #f9ab00;
    color: #000; }
  .active a {
    background-color: #f9ab00;
    border-radius: 0;
    color: #000;
    font-weight: 700; }

.l-about {
  vertical-align: top;
  display: inline-block;
  width: 49%;
  padding-right: 30px;
  margin-bottom: 50px; }

.about {
  margin-bottom: 30px; }

.l-partners {
  vertical-align: top;
  display: inline-block;
  padding-left: 30px;
  width: 49%;
  margin-bottom: 50px; }

.partners {
  margin-bottom: 30px; }

.discount::after {
  content: '';
  display: block;
  clear: both; }

.discount_img {
  height: 145px;
  color: #F9AB00;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 135px;
  font-weight: 700;
  text-transform: uppercase;
  float: left;
  width: 105px;
  margin-right: 10px; }

.discount_title {
  color: #F9AB00;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px; }

.about-number .c-h1_title {
  text-align: center; }

.about-number {
  margin-bottom: 20px; }

.kamik-red {
  color: #f28973; }

.kamik-purple {
  color: #c08ebf; }

.kamik-blue {
  color: #53c5e0; }

.kamik-orange {
  color: #f9bc79; }

.advantages_item .advantages_number {
  text-align: left;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px; }

.advantages_item .advantages_text {
  text-align: left;
  white-space: nowrap;
  color: #6F8A97;
  font-size: 17px;
  font-weight: 300; }

.call {
  padding: 30px 0 10px;
  background: url("../img/call-bg.jpg") 0 0 no-repeat;
  background-size: cover; }
  .call_item {
    text-align: center; }
  .call_img {
    margin-bottom: 30px;
    text-align: center; }
  .call .call-field {
    width: 255px;
    margin-bottom: 20px;
    text-align: center; }
    .call .call-field--inline {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px; }
  .call_full-width {
    width: 100%;
    display: block; }

.header {
  padding-top: 10px; }
  .header_title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .header_text {
    margin-bottom: 10px;
    margin-left: 10px; }

.l-header_search {
  margin: 10px 0;
  position: relative; }

.header_body {
  text-align: justify; }
  .header_body::after {
    content: '';
    width: 100%;
    display: inline-block; }

.l-header_logo,
.l-header_contact,
.l-header_basket {
  display: inline-block; }
  .l-header_logo::after,
  .l-header_contact::after,
  .l-header_basket::after {
    content: '';
    display: block;
    clear: both; }

.l-header_basket .basket_img {
  width: 33px;
  height: 31px;
  float: left;
  margin-right: 10px;
  background: url("../img/basket-icon.png") 0 0 no-repeat; }

.l-header_menu {
  margin-bottom: 15px; }

.l-header_logo {
  vertical-align: top;
  width: 300px; }

.l-header_contact {
  padding-top: 10px; }

.l-header-nav {
  background-color: #7e96a2; }

.header-nav {
  text-align: justify;
  padding: 6px 0;
  font-size: 0; }
  .header-nav::after {
    content: '';
    width: 100%;
    display: inline-block; }
  .header-nav_item {
    display: inline-block; }
    .header-nav_item:hover {
      background-color: #6384a2; }
  .header-nav_link {
    display: block;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 30px 10px 15px;
    position: relative; }
    .header-nav_link::after {
      content: '';
      position: absolute;
      width: 7px;
      height: 16px;
      right: 10px;
      top: 12px;
      background: url("../img/nav-icon.png") left top no-repeat; }

.footer {
  background: url("../img/footer-bg.jpg") left top no-repeat;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 20px; }
  .footer-column_title {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 10px; }
    .footer-column_title::after {
      content: '';
      position: absolute;
      width: 7px;
      height: 4px;
      left: 0px;
      bottom: 0px;
      background: url("../img/deco.png") left top no-repeat; }
  .footer-column_item {
    margin-bottom: 7px; }
  .footer-column_link {
    color: #FFF;
    font-size: 12px;
    font-weight: 400; }
    .footer-column_link:hover {
      color: #F9AB00; }
  .footer-contact {
    color: #fff; }
    .footer-contact_number {
      padding-left: 18px;
      position: relative;
      margin-bottom: 20px; }
      .footer-contact_number::after {
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        left: 0px;
        top: 5px;
        background: url("../img/contact-icon-white.png") 0 0 no-repeat; }
      .footer-contact_number p {
        font-size: 17px;
        font-weight: 300; }
    .footer-contact_text {
      margin-bottom: 20px; }
    .footer-contact_social .social_title {
      font-size: 14px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 5px; }
    .footer-contact_social svg {
      fill: #fff; }
  .footer_copyright {
    color: #fff;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .footer_copyright p {
      margin-bottom: 3px; }
