.c-card-equipment {
  width: 155px;
  height: 349px;
  background-color: #FFF;
  border: 2px solid #EBEBEB;
  padding: 10px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  position: relative;


  &_img {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 110px;
    margin-bottom: 15px;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

    }
  }//_img

  &_title {
    text-align: left;
    color: #000;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;

    a {
      color: #000;
    }
  }//_title

  &_text {
    text-align: left;
    color: #898989;
    font-family: "Exo 2";
    font-size: 13px;
    line-height: 14px;
    font-weight: 300;

    a {
      display: block;
      margin-bottom: 5px;
      color: #000;

      &:last-child {
        margin-bottom: 20px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }//_text
}

.c-card-round {
  position: absolute;
  bottom: 15px;
  left: 10px;

  span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #000;

    &:nth-child(2) {
      margin: 0 1px;
    }
  }
}
////
////
////
//c-card-deals
.c-card-deals {
  display: inline-block;
  width: 265px;
  height: 451px;
  background-color: #fff;
  margin-right: 28px;
  padding: 14px 17px 17px 20px;
  position: relative;
  text-align: center;
  overflow: visible;
  box-shadow: -10px -10px #ededed;

  &:last-child {
    margin-right: 0;
  }

  &_img {
    padding-top: 10px;
    height: 140px;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 30px;

    img {
      display: inline-block;
    }
  }//_img

  &_title {
    text-align: center;
    padding: 10px 0 15px;
    border-top: 1px solid #6c8795;
    border-bottom: 1px solid #6c8795;
    color: #6C8795;
    font-family: "Exo 2";
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
  }//_title

  &_text {
    text-align: left;
    height: 45px;
    overflow: hidden;
    color: #575757;
    font-size: 12px;
    line-height: 11px;
    font-weight: 400;
    margin-bottom: 25px;
  }//_text

  &_price {
    margin-bottom: 25px;
    text-align: justify;
    @include full-width;

    span {
      color: #575757;
      font-family: "Fira Sans";
      font-weight: 300;
    }

    &-old {
      display: inline-block;

      span {
        font-size: 12px;
      }
    }//-old

    &-new {
      display: inline-block;
      color: #EF5532;
      font-family: "Exo 2";
      font-size: 24px;
      font-weight: 400;

      span {
        font-size: 14px;
      }
    }//-new
  }//_price

  &_point-deals {
    position: absolute;
    z-index: 999;
    left: 18px;
    top: -14px;
    width: 28px;
    height: 28px;
    background: url($img-dir + 'point-deals.png') 0 0 no-repeat;
  }//_point-deals

  &_point-bottom {
    position: absolute;
    z-index: 999;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    background: url($img-dir + 'c-card-deals_point-bottom.png') 0 0 no-repeat;
  }//_point-bottom

}
