.c-card-equipment {
  width: 155px;
  height: 349px;
  background-color: #FFF;
  border: 2px solid #EBEBEB;
  padding: 10px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  position: relative;


  &_img {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 110px;
    margin-bottom: 15px;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }//_img

  &_title {
    text-align: left;
    color: #000;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;

    a {
      color: #000;
    }
  }//_title

  &_text {
    text-align: left;
    color: #898989;
    font-family: "Exo 2";
    font-size: 13px;
    line-height: 14px;
    font-weight: 300;

    a {
      display: block;
      margin-bottom: 5px;
      color: #000;

      &:last-child {
        margin-bottom: 20px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }//_text
}

.c-card-round {
  position: absolute;
  bottom: 15px;
  left: 10px;

  span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #000;

    &:nth-child(2) {
      margin: 0 1px;
    }
  }
}
////
////
////
//c-card-deals
.c-card-deals {
  display: inline-block;
  width: 265px;
  height: 451px;
  background-color: #fff;
  margin-right: 28px;
  padding: 14px 17px 17px 20px;
  position: relative;
  text-align: center;
  overflow: visible;
  box-shadow: -10px -10px #ededed;

  &:last-child {
    margin-right: 0;
  }

  &_img {
    padding-top: 10px;
    height: 140px;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 30px;

    img {
      display: inline-block;
    }
  }//_img

  &_title {
    text-align: center;
    padding: 10px 0 15px;
    border-top: 1px solid #6c8795;
    border-bottom: 1px solid #6c8795;
    color: #6C8795;
    font-family: "Exo 2";
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
  }//_title

  &_text {
    text-align: left;
    height: 45px;
    overflow: hidden;
    color: #575757;
    font-size: 12px;
    line-height: 11px;
    font-weight: 400;
    margin-bottom: 25px;
  }//_text

  &_price {
    margin-bottom: 25px;
    text-align: justify;
    @include full-width;

    span {
      color: #575757;
      font-family: "Fira Sans";
      font-weight: 300;
    }

    &-old {
      display: inline-block;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 46%;
        width: 100%;
        height: 1px;
        background-color: #000;
      }

      span {
        font-size: 12px;
      }
    }//-old

    &-new {
      display: inline-block;
      color: #EF5532;
      font-family: "Exo 2";
      font-size: 24px;
      font-weight: 400;

      span {
        font-size: 14px;
      }
    }//-new
  }//_price

  &_point-deals {
    position: absolute;
    z-index: 999;
    left: 18px;
    top: -14px;
    width: 28px;
    height: 28px;
    background: url($img-dir + 'point-deals.png') 0 0 no-repeat;
  }//_point-deals

  &_point-bottom {
    position: absolute;
    z-index: 999;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    background: url($img-dir + 'c-card-deals_point-bottom.png') 0 0 no-repeat;
  }//_point-bottom

}


///
.c-card-subcategory {
  width: 180px;
  height: 210px;
  background-color: #FFF;
  border: 2px solid #EBEBEB;
  padding: 10px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  position: relative;


  &_img {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 110px;
    margin-bottom: 15px;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

    }
  }//_img

  &_title {
    text-align: left;
    color: #000;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;

    a {
      color: #000;
    }
  }//_title
}

//count-goods
.count-goods {
  font-size: 14px;
}


///////
///////
.l-card_line {
  &:last-child {
    margin-top: 10px;
  }
}
.c-card-goods {
  border: 1px solid #D5D5D5;
  @include clear;
  height: 164px;
  margin-bottom: 15px;


  &_img {
    float: left;
    text-align: center;
    overflow: hidden;
    width: 225px;
    height: 160px;
    margin-right: 10px;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }//img
  }//_img


  &_title {
    color: #6C8795;
    font-family: "Exo 2";
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
  }//_title

  &_body {
    padding: 12px 0;
    float: left;
  }//_body

  &_vendorcode {
    color: #575757;
    font-size: 12px;
    margin-bottom: 10px;
  }//_vendorcode

  &_section {
    height: 100%;
    width: 275px;
    background-color: #f2f2f2;
    border-left: 1px solid #d5d5d5;
    padding: 18px 14px;
    float: right;
  }//_section

  &_properties {
    &-title {
      color: #0A0A0A;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 15px;
    }//-title

    &-list {
      margin-left: 10px;
    }//-list

    &-item {
      display: table;
      font-size: 12px;
      color: #575757;
      margin-bottom: 5px;
    }//-item

    &-point {
      display: table-cell;
      font-weight: 700;
    }
    &-text {
      margin-left: 5px;
      color: #575757;
      font-weight: 400;
    }
  }//_properties

  &:last-child {
    margin-bottom: 30px;
  }
}

.c-card_btn-click {
  cursor: pointer;
  position: relative;
  left: -8px;
  vertical-align: top;
  color: #8F9699;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  border: none;
  height: 35px;
  line-height: 20px;
  padding: 8px 18px;
  padding-left: 26px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

//product card
.c-card-product {
  border: 1px solid #D5D5D5;
  @include clear;
  margin-bottom: 15px;
  height: 260px;

  &_price {
    margin-bottom: 15px;
    font-family: 'Exo 2 Condensed', sans-serif;
  }//_price

  &_img {
    float: left;
    text-align: center;
    overflow: hidden;
    width: 300px;
    height: 260px;
    margin-right: 10px;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }//img

  }//c-card-product_img

  &_body {
    width: 370px;
    padding: 12px 0;
    float: left;
  }//_body


  &_sum {
    color: #BABABA;
  }

  &_price span {
    color: #575757;
  }

  &_section {
    height: 100%;
    width: 275px;
    background-color: #f2f2f2;
    border-left: 1px solid #d5d5d5;
    padding: 18px 14px;
    float: right;
  }//_section

  &_phone-place {
    position: relative;
    z-index: 10;
    width: 175px;
  }//_phone-place

  &_advantages {
    position: relative;
    padding-left: 25px;
    margin-bottom: 7px;

    &_title {
      color: #151515;
      font-family: "Exo 2";
      font-size: 12px;
      font-weight: 400;
    }

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      width: 20px;
      height: 22px;
      background-color: #000;
    }
  }//advantages


}

.product-description {
  width: 470px;
  border-right: 1px solid #ececec;
  padding-right: 40px;
  margin-bottom: 35px;


  &_title {
    margin-bottom: 15px;
    color: #7E96A2;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &_text {

    p {
      color: #191919;
      font-family: "Exo 2";
      line-height: 14px;
      font-size: 12px;
      font-weight: 400;
    }
  }
}//product-description

.product-characteristics {
  padding-left: 10px;
  margin-bottom: 35px;
}

.icon-availability::before {
  content: '';
  background: url($img-dir + 'icon-availability.png') 0 0 no-repeat;
}

.icon-delivery,
.icon-certificate,
.icon-guarantee,
.icon-service,
.icon-payment{
  text-decoration: underline;
  line-height: 27px;
}

.icon-terms::before {
  content: '';
  background: url($img-dir + 'terms.png') 0 0 no-repeat;
}
.icon-delivery::before {
  content: '';
  top: 5px;
  background: url($img-dir + 'delivery-icon.png') 0 0 no-repeat;
}
.icon-certificate::before {
  content: '';
  left: 2px;
  background: url($img-dir + 'certificate-icon.png') 0 0 no-repeat;
}
.icon-guarantee::before {
  content: '';
  left: 3px;
  width: 22px;
  background: url($img-dir + 'guarantee-icon.png') 0 0 no-repeat;
}
.icon-service::before {
  content: '';
  height: 24px;
  top: 0;
  background: url($img-dir + 'service-icon.png') 0 0 no-repeat;
}
.icon-payment::before {
  top: 5px;
  content: '';
  background: url($img-dir + 'payment-icon.png') 0 0 no-repeat;
}

////
.c-card-portfolio {
  width: 310px;
  background-color: #FFF;
  border: 2px solid #EBEBEB;
  padding-bottom: 25px;
  position: relative;
  margin-bottom: 10px;

  &_img {
    height: 127px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      height: auto;
    }
  }//_img

  &_date {
    margin-bottom: 5px;
    color: #898989;
    font-family: "Exo 2";
    font-size: 13px;
    font-weight: 300;
    padding: 0px 10px;
  }//_date

  &_title {
    padding: 0px 10px;
    margin-bottom: 10px;
    color: #000;
    font-family: "Exo 2 Condensed", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }//_title
}

.c-card_see-all {
  color: #000;
  font-family: "Exo 2";
  font-size: 12px;
  font-weight: 700;
  padding-right: 12px;
  position: relative;
  @extend %transition;

  &::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 6px;
    background: url($img-dir + 'see-all-icon.png') 0 0 no-repeat;
  }

  &:hover {
    text-decoration: underline;
    color: #7E96A2;
    @extend %transition;
  }
}
////
.c-card-category {
  padding: 13px 17px;
  width: 317px;
  background-color: #FFF;
  border: 2px solid #D7D7D7;
  margin-bottom: 10px;


  &_top {
    @include clear;
    display: table;
    vertical-align: middle;
    margin-bottom: 20px;
  }//_top

  &_img {
    display: table-cell;
    //float: left;
    width: 43px;
    height: 43px;

    img {
      max-width: 100%;
      height: auto;
    }
  }//_img

  &_title {
    padding-left: 10px;
    //float: left;
    display: table-cell;
    vertical-align: middle;

    a {
      color: #000;
      font-family: "Exo 2 Condensed", sans-serif;
      font-size: 21px;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase;

      &:hover {
        color: #7E96A2;
        text-decoration: underline;
      }
    }
  }//_title

  &_body {

  }//_body

  &_list {
    margin-bottom: 20px;
  }//_list
  &_item {
    margin-bottom: 5px;
  }//_item

  &_link {
    font-family: "Exo 2";
    font-size: 13px;
    color: #898989;
    font-weight: 300;
    @extend %transition;

    &:hover {
      font-size: 13px;
      color: #111;
      font-weight: 500;
      text-decoration: underline;
      @extend %transition;
    }
  }//_link

  &_count {

  }//_count
}