.c-h1_title {
  text-align: left;
  color: #6C8795;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.l-list {
  text-align: justify;
  @include full-width;

  &_item {
    vertical-align: top;
    display: inline-block;
  }//_item
}

.l-grid {
  font-size: 0;

  &_item {
    font-size: 12px;
    vertical-align: top;
    display: inline-block;
  }//_item
}

.c-search {
  display: block;
  width: 100%;
  bottom: 0;
  outline: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 10px 15px;
  padding-right: 30px;
  position: relative;


  &-button {
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    width: 12px;
    height: 8px;
    top: 50%;
    margin-top: -4px;
    right: 9px;
    background: url($img-dir + 'search-icin-mouseover.png') 0 0 no-repeat;
  }

  &:focus .c-search-button {
    background: url($img-dir + 'search-icin.png') 0 0 no-repeat;
  }
}

.c-menu {
  text-align: justify;
  @include full-width;

  &_item {
    display: inline-block;
  } //_item

  &_link {
    display: block;
    padding: 8px 10px;
    color: #8F9699;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #DBDBDB;
    border-radius: 4px;

    &:hover {
      background-color: #6384A2;
      color: #fff;
      text-decoration: none;
      @extend %transition;
    }


    &--icon {
      position: relative;
      padding-left: 37px;

      &::after {
        content: '';
        position: absolute;
        width: 21px;
        height: 19px;
        left: 10px;
        top: 9px;
        background: url($img-dir + 'menu-icon-all-default.png') left top no-repeat;
      }

      &:hover:after {
        content: '';
        background: url($img-dir + 'menu-icon-all.png') left top no-repeat;
        @extend %transition;
      }
    }
  }//_link


}

.c-text-icon {
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  padding-left: 15px;
  position: relative;
  margin-right: 15px;

  &::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 13px;
    left: 0;
    top: 1px;
  }
}

.c-text-icon--number::after {
  background: url($img-dir + 'contact-icon.png') 0 0 no-repeat;
}

.c-text-icon--email::after {
  background: url($img-dir + 'contact-icon.png') -13px 0 no-repeat;
}

.c-text-icon--place::after {
  background: url($img-dir + 'contact-icon.png') -23px 0 no-repeat;
}


.c-text-icon--email-white::after {
  background: url($img-dir + 'contact-icon-white.png') -15px 0 no-repeat;
}

.c-text-icon--place-white::after {
  background: url($img-dir + 'contact-icon-white.png') -26px 0 no-repeat;
}

.c-text-icon--time-white::after {
  background: url($img-dir + 'contact-icon-white.png') -38px 0 no-repeat;
}


//c-button
.c-button {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  border: none;
  background-color: #F6AE00;
  box-shadow: inset 4.5px 7.8px 27px rgba(255, 240, 0, 0.69), inset 0 0 27px rgba(252, 95, 0, 0.93);
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px;

  &:hover {
    background-color: #F6AE00;
    box-shadow: inset 4.5px 7.8px 27px rgba(255, 240, 0, 0.69);
  }
}


//c-service
.c-service {
  font-size: 0;

  &_item {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    outline: 1px solid #ccc;
    margin-bottom: 21px;
  }//_item

  &_img {
    text-align: center;
    padding-bottom: 32px;
    margin-bottom: 15px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 32px;
      height: 7px;
      right: 41%;
      bottom: 0;
      background-color: #ccc;
    }
  }//_img

  &_title {
    text-align: center;
    color: #6C8795;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }//_title
}

//c-link-more
.c-link-more {
  color: #202020;
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 18px;
  margin-top: 5px;

  &:hover {
    text-decoration: underline;
    @extend %transition;
  }

  &::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 6px;
    right: 0;
    bottom: 25%;
    background-color: #ccc;
    background: url($img-dir + 'button-icon.png') left top no-repeat;
  }
}


//c-company-list
.c-company-list {
  text-align: justify;
  @include full-width;

  .c-company_item {
    width: 140px;
    height: 70px;
    display: inline-block;
    border: 1px solid #cfcfcf;
  }
}//c-company-list
