.header {
  padding-top: 10px;

  &_title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }//_title

  &_text {
    margin-bottom: 10px;
    margin-left: 10px;

    span {
      // margin-left: 10px;
    }
  }//text
}

.l-header_search {
  margin: 10px 0;
  position: relative;
}

.header_body {
  text-align: justify;
  @include full-width;
}
.l-header_logo,
.l-header_contact,
.l-header_basket {
  display: inline-block;
  @include clear;
}
.l-header_basket {
  .basket_img {
    width: 33px;
    height: 31px;
    float: left;
    margin-right: 10px;
    background: url($img-dir + 'basket-icon.png') 0 0 no-repeat;
  }

}


.l-header_menu {
  margin-bottom: 15px;
}

.l-header_logo {
  vertical-align: top;
  width: 300px;
}

.l-header_contact {
  padding-top: 10px;
}

.l-header-nav {
  background-color: #7e96a2;
}

.header-nav {
  text-align: justify;
  @include full-width;
  padding: 6px 0;
  font-size: 0;

  &_item {
    display: inline-block;

    &:hover {
      background-color: #6384a2;
      @extend %transition;
    }
  }//_item

  &_link {
    display: block;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 30px 10px 15px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 7px;
      height: 16px;
      right: 10px;
      top:12px;
      background: url($img-dir + 'nav-icon.png') left top no-repeat;
    }

  }//_link
}
