.l-ad-unit {
  padding-bottom: 20px;
}

.ad-unit_title {
  color: #37474F;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 33px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.ad-unit_item {
  display: inline-block;
  margin-right: 70px;
  @include clear;

  .ad-unit_img {
    // width: 37px;
    // height: 44px;
    float: left;
    margin-right: 10px;
  }//ad-unit_img

  .ad-unit_body {
    float: right;

    .ad-unit_text {
      color: #6A6A6A;
      font-family: 'Exo 2 Condensed', sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 6px;
    }//ad-unit_text
  }//ad-unit_body
}


//
.top-slider {
  // height: 507px;
  position: relative;

  &_title {
    position: absolute;
    left: 0;
    top: 44px;
    color: #374850;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;

    .top-slider_text {
      display: inline-block;
      margin-bottom: 5px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -55px;
        width: 900%;
        height: 56px;
        background-color: #fff;
        opacity: .8;
        z-index: -1;
      }
    }
  }

  &_link {
    display: inline-block;
    margin-bottom: 23px;
    position: relative;
    width: 17px;
    height: 14px;
    background: url($img-dir + 'top-slider_link.png') 0 0 no-repeat;

    &::after {
      content: '';
      position: absolute;
      top: -9px;
      right: -7px;
      width: 1900%;
      height: 31px;
      background-color: #fff;
      opacity: .8;
      z-index: -1;
    }
  }

  .slick-dots {
    bottom: 15px;
  }
}

.top-slider_item {
  // width: 1920px;
  height: 507px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

//l-services
.l-services {
  padding-top: 20px;
}

//l-equipment
.l-equipment {
  padding: 20px 0px;
  background-color: #f2f2f2;
}
#Container .mix {
	display: none;
}

.active {
  transform: scale(1.02);
  @extend %transition;

  &:hover a{
    background-color: #f9ab00;
    color: #000;
  }
  a {
    background-color: #f9ab00;
    border-radius: 0;
    color: #000;
    font-weight: 700;
  }
}

//deals
.deals {
  height: 675px;
  padding: 30px 0;
  background: url($img-dir + 'deals-bg.jpg') 0 0 no-repeat;
  background-size: cover;


  &_link-all {
    position: absolute;
    bottom: 0;
    right: 50px;
    color: #FFF;
    font-family: "Exo 2";
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 999;
  }//_link-all

  &_slider {
    padding-top: 14px;
  }

  .slick-list {
    padding-left: 10px;
    padding-top: 14px;
  }

  .slick-dots {
    bottom: -65px;
  }
}



.c-tabs {
  text-align: center;
  margin-bottom: 60px;
}

.tabs-menu {
  // height: 30px;
  // display: inline-block;
  white-space: nowrap;
  text-align: justify;
  @include full-width;
  margin-bottom: 26px;
}

.tabs-menu_line {
  vertical-align: baseline;
  position: relative;
  top: -7px;
  width: 5%;
  display: inline-block;
  border-bottom: 1px solid #fff;
  height: 1px;

  &--big {
    width: 13%;
  }

  &--one-tabs {
    width: 29%;
  }
}

.tabs-menu_item {
  display: inline-block;
  border: 1px solid #FFF;
  border-radius: 50px;
}

.current   {
  border: none;
  @extend %transition;
}

.tabs-menu_link {
  display: block;
  border-radius: 50px;
  padding: 8px 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  font-family: 'Exo 2 Condensed', sans-serif;
  font-size: 19px;
  font-weight: 300;
}

.current .tabs-menu_link {
  @extend %transition;
  font-family: 'Exo 2 Condensed', sans-serif;
  background-color: #F6AE00;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.07);
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.27);
  box-shadow: inset 4.5px 7.8px 27px rgba(255, 240, 0, 0.69), 0 0 0 6px rgba(0, 0, 0, 0.07), inset 0 0 27px rgba(252, 95, 0, 0.93);
}

.tab {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 55px;
}

.tab-content {
    // padding: 20px;
    display: none;
}

#tab-1 {
 display: block;
}



///

//about
.l-about {
  vertical-align: top;
  display: inline-block;
  width: 49%;
  padding-right: 30px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.about {
  margin-bottom: 30px;
}

//partners clients
.l-partners {
  vertical-align: top;
  display: inline-block;
  padding-left: 30px;
  width: 49%;
  margin-bottom: 50px;
}
.partners {
  margin-bottom: 30px;
  margin-top: 30px;
}

//discount
.discount {
  @include clear;

  &_img {
    height: 145px;
    color: #F9AB00;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 135px;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    width: 105px;
    margin-right: 10px;
  }//_img

  &_body {
    // float: left;
  }//_body

  &_title {
    color: #F9AB00;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }//_title
}

//about-number
.about-number {
  .c-h1_title {
    text-align: center;
  }
}

//about-number
.about-number {
  margin-bottom: 20px;
}

.kamik-red {color:$kamik-red;}
.kamik-purple {color:$kamik-purple;}
.kamik-blue {color:$kamik-blue;}
.kamik-orange {color:$kamik-orange;}

.advantages_item {
  // display: inline-block;
  // margin-right: 70px;

  .advantages_number {
    text-align: left;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }//_number

  .advantages_text {
    text-align: left;
    white-space: nowrap;
    color: #6F8A97;
    font-size: 17px;
    font-weight: 300;
  }//_text
}


//call
.call {
  padding: 30px 0 10px;
  background: url($img-dir + 'call-bg.jpg') 0 0 no-repeat;
  background-size: cover;

  &_item {
    text-align: center;
  }//_item

  &_img {
    margin-bottom: 30px;
    text-align: center;
  }//_img

  .call-field {

    width: 255px;
    margin-bottom: 20px;
    text-align: center;

    &--inline {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &_full-width {
    width: 100%;
    display: block;
  }
}


//////////
///////////
/////////////
//services


.p-services {
  margin-bottom: 10px;
}
//////////
///////////
/////////////
//services


.p-equipment {
  margin-bottom: 10px;

  .equipment_item {
    margin-bottom: 20px;
  }//_item
}
//////////
///////////
/////////////
//services

.p-category {
  @include clear;
}

.l-filter {
  float: left;
  margin-right: 20px;
  @include clear;
}

.filter {
  width: 180px;
  padding: 20px 15px;
  padding-bottom: 5px;
  background-color: #f2f2f2;

  &_title {
    color: #242424;
    font-family: 'Exo 2 Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
  }//_title

  &_list {
    margin-left: 10px;
  }//_list

  &_item {
    margin-bottom: 10px;
  }//_item

  &_link {
    color: #4F4F4F;
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 500;

    &:hover {
      color: #f9ab00;
      @extend %transition;
    }
  }//_link
}

.l-output {
  margin-left: 200px;
}

.l-category {
  @include clear;
}
